extends layout

block content
  header
    #title
      h1
      a(href='/') flo app
    nav
      h2
      a(href='/log-in') Log-in
      h2
      a(href='/sign-up') Sign-Up


  main 
    .formContainer 
      h1 Create your account!

      form(method="post" enctype="multipart/form-data")

        label(for="name") 
        input(type="text" placeholder="complete name" id="name" name="name")

        label(for="email") 
        input(type="mail" id="email" name="email" placeholder="introduce your email")

        label(for="username") 
        input(type="text" name="username" id="username" placeholder="introduce your username")

        label(for="password") 
        input(type="password" id="password" name="password" placeholder="introduce your password")

        label(for="confpassword") 
        input(type="password" name="confpassword" id="confpassword" placeholder="confirm your password")

        input(type="file" name="profilePhoto"  accept="image/png, image/gif, image/jpeg")
        input(type='submit' value='OK' )

        if errors 
          for error in errors 
            p=error.msg







