extends layout

block content
    header
      #title
        h1
          a(href='/') Fló App
      nav

        h2 
          a(href="/log-out") Log-Out 
        h2 
          a(href="/create-post") Create a Post 
        h2 
          a(href="/upgrade") Profile Configuration   
    main
      
      .formContainer 
        h1  Change your profile photo
        form(method="post" action="/upgrade/changePhoto" enctype="multipart/form-data") 
          input(type="file" name="profilePhoto"  accept="image/png, image/gif, image/jpeg")
          input(type='submit' value='OK' )


      .formContainer 
        h1  Upgrade to member
        p hint(The most hardest "password" but in mayús)
        form(method="post" action="/upgrade/upgradeMember") 

          label(for="memberpassword") 
          input(type="password" name="memberpassword" id="memberpassword" placeholder="secret password") 
          input(type='submit' value='OK')


      .formContainer 
        h1  Upgrade to admin
        p hint(the most hardest "drowssap" but in MAYÚS)
        form(method="post" action="/upgrade/upgradeAdmin") 

          label(for="adminpassword") 
          input(type="password" name="adminpassword" id="adminpassword" placeholder="admin password") 
          input(type='submit' value='OK')


      if error 
        p=error